<div id="planrepas">
    <h1>Plans repas</h1>
  
    <div class="divider"></div>
  
    <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
      <thead class="header">
        <th class="contentCell">Numéro de plan repas</th>
        <th class="contentCell">Catégorie</th>
        <th class="contentCell">Fréquence</th>
        <th class="contentCell">Nombre de personnes</th>
        <th class="contentCell">Calories</th>
        <th class="contentCell">Prix</th>
        <th class="contentCell">Fournisseur</th>
      </thead>
      <tbody>
        <tr *ngFor="let plan of plansrepas">
          <td class="contentCell">{{ plan.numeroplan }}</td>
          <td class="contentCell" contenteditable="true">{{ plan.categorie}}</td>
          <td class="contentCell" contenteditable="true">{{ plan.frequence }} par semaine</td>
          <td class="contentCell">{{ plan.nbrpersonnes }} personnes</td>
          <td class="contentCell" contenteditable="true">{{ plan.nbrcalories}} kcal</td>
          <td class="contentCell" contenteditable="true">{{ plan.prix }} $</td>
          <td class="contentCell" contenteditable="true">{{ plan.numerofournisseur }} : {{fournisseurs[plan.numerofournisseur-1].nomfournisseur}}</td>
        </tr>
  
      </tbody>
    </table>
    <div class="btn-container">
      <button mat-raised-button (click)="openAddDialog()" class="circle-outline add-btn">
        <mat-icon class="circle-inline">add_circle</mat-icon> Ajouter un plan repas
    </button>
    </div>
  </div>
  