<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" matTooltip="Ajoutez des plans repas" routerLink="/planrepas/add">Ajouter</a>
        <a class="nav-item nav-link active" matTooltip="Modifiez des plans repas" routerLink="/planrepas/update">Modifier</a>
        <a class="nav-item nav-link active" matTooltip="Supprimez des plans repas" routerLink="/planrepas/delete">Supprimer</a>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>
      Bienvenue chez HalloFrish !
    </p>
    <button mat-raised-button color="primary" class="btn" routerLink="/planrepas/add">Parcourir les plans repas <mat-icon>arrow_right</mat-icon></button>
  </div>
  <router-outlet></router-outlet>
</div>
